*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: rgb(241, 15, 222);
}
.box{
    background-color: white;
    padding: 30px; 
}
.box h2{
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    color: #015a96;
    font-family: sans-serif ;
}
#password{
    padding: 20px;
    height: 50px;
    width: 400px;
    border-radius: 7px;
    border: 2px solid #015a96;;
}
input:placeholder{
    font-size: 20px;
}
#button{
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 40px;
    border: 2px solid rgb(54, 189, 247);
    width: 150px;
    height: 50px;
    text-align: center;
    background: lightskyblue;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 7px;
    cursor: pointer;
}
.btn-2{
    margin-left: 85px;
}
#button:hover{
    color: white;
}